
{% load static %}
{% block content %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>BOOKCHA</title>
    <link rel="shortcut icon" type="image/x-icon" href="https://img1.daumcdn.net/thumb/R1280x0/?scode=mtistory2&fname=https%3A%2F%2Fblog.kakaocdn.net%2Fdn%2FbuGh2Y%2Fbtrec3KoRnm%2FKZePZMZjsk1i32qziqb0XK%2Fimg.png">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-KyZXEAg3QhqLMpG8r+8fhAXLRk2vvoC2f3B09zVXn8CA5QIVfZOJ3BCsw2P0p/We" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-U1DAWAznBHeqEIlVSCgzq+c9gqGAJn5c/t99JyeKa9xxaYpSvHU5awsuZVVFIhvj" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="{% static 'style.css' %}">
</head>

    <body class="d- flex text-center text-white bg-dark mg-3" cz-shortcut-listen="true">
        <!--header-->
        <header class="mb-auto">
            <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
                <div class="container-fluid">
                    <a href="http://49.50.172.121:8800/"><img id="nav_img" class="mb-4 navbar-brand" src="https://img1.daumcdn.net/thumb/R1280x0/?scode=mtistory2&fname=https%3A%2F%2Fblog.kakaocdn.net%2Fdn%2FuAV4y%2Fbtrd5EvWVRw%2F4ZTGJqhtplydRDG6NRXsjK%2Fimg.png" alt=""></a>
                <!-- <a class="navbar-brand" href="#">BOOKCHA</a> -->
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarNavDropdown">
                    <ul class="navbar-nav">
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="http://49.50.172.121:8800/">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="http://49.50.172.121:8800/member/list">Book</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="/member/review/list">Reviews</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="http://49.50.172.121:8800/member/create">Add</a>
                    </li>

                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                        My pages
                        </a>
                        <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                        {% if user.is_authenticated %}
                        <li><a class="dropdown-item" href="{% url 'account_logout' %}">Logout</a></li>
                        <li><a class="dropdown-item" href="{% url 'account_change_password' %}">Change password</a></li>
                        {% else %}
                        <li><a class="dropdown-item" href="{% url 'account_signup' %}">Join</a></li>
                        <li><a class="dropdown-item" href="{% url 'account_login' %}">Login</a></li>
                        {% endif %}
                        </ul>
                    </li>
                    <!--안녕하세요 && 님-->
                    <li class="nav-item" id="nav_user_col">
                        <span  id="nav_user" class="nav-link active">
                            {% if user.is_authenticated %}
                            Hi, {{user.nickname}}.
                        {% endif %}
                        </span>
                    </li>
                    <!--여기까지-->
                    </ul>
                </div>
                </div>
            </nav>
        </header>
        <!-- Services-->
        <section class="page-section" id="services">
            <div class="container px-4 px-lg-5">
                <h2 class="text-center mt-0">At Our Service</h2>
                <hr class="divider" />
                <div class="row gx-4 gx-lg-5">
                    <div class="col-lg-3 col-md-6 text-center">
                        <div class="mt-5">
                            <div class="mb-2"><i class="bi-gem fs-1 text-primary"></i></div>
                            <h3 class="h4 mb-2">Add Book information</h3>
                            <p class="text-muted mb-0">Add a list of the books you read</p>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-6 text-center">
                        <div class="mt-5">
                            <div class="mb-2"><i class="bi-laptop fs-1 text-primary"></i></div>
                            <h3 class="h4 mb-2">Create review</h3>
                            <p class="text-muted mb-0">Write various comments on the book you read!</p>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-6 text-center">
                        <div class="mt-5">
                            <div class="mb-2"><i class="bi-globe fs-1 text-primary"></i></div>
                            <h3 class="h4 mb-2">Rate anything</h3>
                            <p class="text-muted mb-0">You can always use our rating system!</p>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-6 text-center">
                        <div class="mt-5">
                            <div class="mb-2"><i class="bi-heart fs-1 text-primary"></i></div>
                            <h3 class="h4 mb-2">Made with Love</h3>
                            <p class="text-muted mb-0">Is it really open site if it's not made with love?</p>
                        </div>
                    </div>
                </div>
            </div>
        </section>
<!-- About-->
    <section class="page-section bg-dark" id="about">
        <div class="container px-4 px-lg-5">
            <div class="row gx-4 gx-lg-5 justify-content-center">
                <div class="col-lg-8 text-center">
                    <h2 class="text-white mt-0">We've got what you need!</h2>
                    <hr class="divider divider-light" />
                    <p class="text-white-75 mb-4">Bookcha has everything you need to get your choice of book! Choose one of our open source, whenever you want, and easy to rate and write reviews!</p>
                    <a id="home_btn_color" class="btn btn-xl" href="http://49.50.172.121:8800/member/list">Get Started!</a>
                </div>
            </div>
        </div>
    </section>
    </body>
</html>
{% endblock content %}