{% extends 'base.html' %}
{% load static %}
{% block content %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>BOOKCHA</title>
    <link rel="shortcut icon" type="image/x-icon" href="https://img1.daumcdn.net/thumb/R1280x0/?scode=mtistory2&fname=https%3A%2F%2Fblog.kakaocdn.net%2Fdn%2FbuGh2Y%2Fbtrec3KoRnm%2FKZePZMZjsk1i32qziqb0XK%2Fimg.png">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-KyZXEAg3QhqLMpG8r+8fhAXLRk2vvoC2f3B09zVXn8CA5QIVfZOJ3BCsw2P0p/We" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'login.css' %}">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-U1DAWAznBHeqEIlVSCgzq+c9gqGAJn5c/t99JyeKa9xxaYpSvHU5awsuZVVFIhvj" crossorigin="anonymous"></script>
    <script type="text/javascript" src="https://static.nid.naver.com/js/naverLogin_implicit-1.0.3.js" charset="utf-8"></script>
    <script type="text/javascript" src="http://code.jquery.com/jquery-1.11.3.min.js"></script>
</head>
    <body class="d- flex text-center text-white bg-dark mg-3" cz-shortcut-listen="true">
            <main class="form-signin">
                <form action="http://49.50.172.121:8800/member/logined" method="post"> 
                {% csrf_token %}
                <div class="h1_cover">
                    <h1 class="h3 mb-3 fw-normal">Login</h1>
                </div>
                <div class="form-floating text-black">
                    <input type="text" name="id" class="form-control mb-2" id="floatingInput" placeholder="id~ id~">
                    <label for="floatingInput">Id</label>
                </div>
                <div class="form-floating text-black">
                    <input type="password" name="pw" class="form-control mb-2" id="floatingPassword" placeholder="Password">
                    <label for="floatingPassword">Password</label>
                </div>
                <div class="checkbox mb-3">
                    <label>
                    <input type="checkbox" value="remember-me"> Remember me
                    </label>
                </div>
                <button id="login_button" class="w-100 btn btn-lg mt-2" type="submit">Login</button>
                <p class="mt-4 mb-1 text-muted">2021-09-05</p>
                <!-- 네이버아이디로로그인 버튼 노출 영역 -->
                <div id="naver_id_login"></div>
                <!-- //네이버아이디로로그인 버튼 노출 영역 -->
                <script type="text/javascript">
                    var naver_id_login = new naver_id_login("NJgaKOonoGUAWGe6HMzJ", "http://localhost:8000/accounts/naver/login/callback/");
                    var state = naver_id_login.getUniqState();
                    naver_id_login.setButton("white", 2,40);
                    naver_id_login.setDomain("http://49.50.172.121:8800/member/login");
                    naver_id_login.setState(state);
                    naver_id_login.setPopup();
                    naver_id_login.init_naver_id_login();
                </script>
                  <span><a href="http://49.50.172.121:8000/member/signout">delete account</a></span>
                </form>
              </main>
      
        </body>
</html>
{% endblock %}
