<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>실습쓰</title>
    <style>
        * {
            color: white;
            background-color: teal;
        }
        div {
            text-align: center;
        }

    </style>
    
</head>
<body>
    <div>
    <br>
    {{ p1 }}님! 비밀번호 {{ p2 }}이시죠? 해킹당하셨습니다. ㅋ
    </div>

</body>
</html>