{% extends 'userplate_base/base2.html' %}
{% load static %}
{% load widget_tweaks %}

{% block content %}
<div class="wrap-delete">
    <div class="delete-box">
        <div class="note-info">
            <p>&#123;</p>
            <span class="note-title">Error Note</span>
            <p>&#125;</p>
        </div>
        <div class="cp-dialog info account-password-dialog">
        <p style="font-size: 17px;">비밀번호가 성공적으로 변경되었습니다.</p>
        <br><br><br>
        <a class="cp-button inverted button" style="color: black; border-color: black;" href="{% url 'account_login' %}">당장 로그인하기</a>
        </div>
    </div>
</div>
{% endblock %}