{% extends 'userplate_base/base2.html' %}
{% load static %}
{% load widget_tweaks %}

{% block content %}
<div class="wrap-delete">
    <div class="delete-box">
        <div class="note-info">
            <p>&#123;</p>
            <span class="note-title">Error Note</span>
            <p>&#125;</p>
        </div>
        <p>로그인</p>
        <form method="post">
            {% csrf_token %}
            <ul>
                {% for error in form.non_field_errors %}
                    <div class="form-error error-message">{{ error }}</div>
                {% endfor %}
                <div>
                    {{ form.email|add_class:"cp-input"|attr:"placeholder:가입시 등록한 이메일을 입력해 주세요" }}
                    {% for error in form.email.errors %}
                        <div class="form-error error-message">{{ error }}</div>
                    {% endfor %}
                </div>
                <button class="cp-button" type="submit">이메일 보내기</button>
                </ul>
                <ul>
                    <div class="info">
                        <a class="item" style="color: #EE8088;" href="{% url 'account_login' %}">갑자기 PW 기억나서 당장 로그인하기</a>
                    </div>
                </ul>
            </form>
    </div>
</div>
{% endblock %}