{% extends 'userplate_base/base2.html' %}
{% load static %}
{% load widget_tweaks %}

{% block content %}
<div class="wrap-delete">
    <div class="delete-box">
        <div class="note-info">
            <p>&#123;</p>
            <span class="note-title">Error Note</span>
            <p>&#125;</p>
        </div>
        <p>비밀번호 변경</p>
        <form method="post">
            {% csrf_token %}
            <ul>
                {% for error in form.non_field_errors %}
                    <div class="form-error error-message">{{ error }}</div>
                {% endfor %}
                <div>
                    {{ form.password1|add_class:"cp-input"|attr:"placeholder:새 비밀번호" }}
                    {% for error in form.password.errors %}
                        <div class="form-error error-message">{{ error }}</div>
                    {% endfor %}
                </div>
                <div>
                    {{ form.password2|attr:"class:cp-input"|attr:"placeholder:새 비밀번호 확인" }}
                    {% for error in form.password.errors %}
                        <div class="form-error error-message">{{ error }}</div>
                    {% endfor %}
                </div>
                <button class="cp-button" type="submit">비밀번호 변경</button>
                </ul>
            </form>
    </div>
</div>
{% endblock %}