{% extends 'userplate_base/base2.html' %}
{% load static %}
{% load widget_tweaks %}

{% block content %}
<div class="wrap-delete">
    <div class="delete-box">
        <div class="note-info">
            <p>&#123;</p>
            <span class="note-title">Error Note</span>
            <p>&#125;</p>
        </div>
        <div class="cp-dialog info account-password-dialog">
        <p style="font-size: 17px;">비밀번호 재설정 메일이 전송되었습니다.<br><br><br>
        이메일을 확인하시고 안내를 따라주세요.</p>
        <br><br><br>
        <a class="cp-button inverted button" style="color: black; border-color: black;" href="{% url 'index' %}">홈으로 이동</a>
        </div>
    </div>
</div>
{% endblock %}