{% extends 'userplate_base/base2.html' %}
{% load static %}
{% load widget_tweaks %}

{% block content %}
<div class="wrap-delete">
    <div class="delete-box">
        <div class="note-info">
            <p>&#123;</p>
            <span class="note-title">Error Note</span>
            <p>&#125;</p>
        </div>
        <p>회원가입</p>
        <form method="post">
            {% csrf_token %}
            <ul>
                <div>
                    {{ form.email|add_class:"cp-input"|attr:"placeholder:이메일" }}
                    {% for error in form.email.errors %}
                        <div class="error-message">{{ error }}</div>
                    {% endfor %}
                </div>
                <div>
                    {{ form.nickname|add_class:"cp-input"|attr:"placeholder:닉네임"|add_error_class:"error" }}
                    {% for error in form.nickname.errors %}
                        <div class="error-message">{{ error }}</div>
                    {% endfor %}
                </div>
                <div>
                    {{ form.password1|attr:"class:cp-input"|attr:"placeholder:비밀번호" }}
                </div>
                <div>
                    {{ form.password2|attr:"class:cp-input"|attr:"placeholder:비밀번호 확인" }}
                </div>
                <button class="cp-button" type="submit">가입하기</button>
                </ul>
                <ul>
                    <div class="info">
                        이미 회원이신가요? <a class="link" style="color: #EE8088;" href="{% url 'account_login' %}">로그인</a>
                    </div>
                </ul>
            </form>
    </div>
</div>
{% endblock %}