{% load static %}
<!DOCTYPE html>
    <html lang="en">
    <head>
        <title>Error Report :: 오류 노트</title>
        <meta charset="UTF-8" />
        <link rel="stylesheet" href="{% static 'diary/css/styles.css' %}" />
        <link
        rel="stylesheet"
        type="text/css"
        href="https://cdn.rawgit.com/moonspam/NanumSquare/master/nanumsquare.css"
        />
        <link
        rel="stylesheet"
        href="https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_two@1.0/NanumBarunpen.woff"
        />
    </head>
    <body>
        <div class="menu">
        <h1>
            <a href="{% url 'page-list' %}"
            ><img src="{% static 'diary/image/logo02.png' %}"
            /></a>
        </h1>
        <ul>
            <li><a href="{% url 'page-list' %}">모아보기</a></li>
            <li><a href="{% url 'info' %}">사용법</a></li>
            <li>
                {% if user.is_authenticated %}
                <a style="color: black;" href="{% url 'account_logout' %}">로그아웃</a>
                {% else %}
                <a style="color: black;" href="{% url 'account_login' %}">로그인</a>
                <br><br><br>
                <a style="color: black;" href="{% url 'account_signup' %}">회원가입</a>
                {% endif %}
            </li>
            <li><a class="iconplease" href="{% url 'page-create' %}">Error Note 쓰기</a></li>
        </ul>
        {% if user.is_authenticated %}
            <p class="logstate" style="font-size: smaller; text-align: right; margin-right: 17px; background-color: turquoise;">안녕하세요, {{user.nickname}}님!</p>
        {% else %}
        {% endif %}
    </div>
    
    {% block content %} {% endblock content %}
</body>
</html>
