{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <title>Error Report :: 오류 노트</title>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="{% static 'diary/css/styles.css' %}">
    <link rel="stylesheet" type="text/css" href="https://cdn.rawgit.com/moonspam/NanumSquare/master/nanumsquare.css">
</head>
<body>
    <div class="wrap-intro">
        <h1><img src="{% static 'diary/image/logo02.png' %}"></h1>
        <p>error...<br>에러.
        </p>
        <a href="{% url 'page-list' %}">에러 노트 작성하기</a>
    </div>
</body>
</html>
