{% extends './base.html' %} <!-- base 템플릿 상속 -->

{% block content %} <!-- content block 처리 -->
<div class="wrap-notetext">
    <div class="notetext">
        <div class="text-box">
            <h2>{{object.title}}</h2>
            <div class="score">
                <p>심각도</p>
                <span>{{object.score}}점</span>
            </div> 
            <div class="date">
                <span>{{object.dt_created|date:"d"}}</span>
                <div class="month-year">
                    <p class="month">{{object.dt_created|date:"M"}}</p>
                    <p class="year">{{object.dt_created|date:"Y"}}</p>
                </div>
            </div>
            <div class="detail">{{object.content|linebreaksbr}}</div>
            {% if page.author == user %}
            <div class="notetext-btn">
                <ul>
                    <li><a href="{% url 'page-delete' object.id %}">삭제하기</a></li>
                    <li><a href="{% url 'page-update' object.id %}">수정하기</a></li>
                    <!--여기.. 얘.. 수정된 데이터를 같이 조회해 줘야 해서 object.id를 함께 적어 줘야 함 안 그러면 NoReverseMatch 뜸 ㅡㅡ-->
                </ul>
            </div>
            {% endif %}
        </div>
    </div>
</div>
{% endblock content %} 
