{% extends 'base.html'%}
{% load static %}
{% load widget_tweaks %}
{% block content %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>BOOKCHA</title>
    <link rel="shortcut icon" type="image/x-icon" href="https://img1.daumcdn.net/thumb/R1280x0/?scode=mtistory2&fname=https%3A%2F%2Fblog.kakaocdn.net%2Fdn%2FbuGh2Y%2Fbtrec3KoRnm%2FKZePZMZjsk1i32qziqb0XK%2Fimg.png">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-KyZXEAg3QhqLMpG8r+8fhAXLRk2vvoC2f3B09zVXn8CA5QIVfZOJ3BCsw2P0p/We" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-U1DAWAznBHeqEIlVSCgzq+c9gqGAJn5c/t99JyeKa9xxaYpSvHU5awsuZVVFIhvj" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="{% static 'style.css' %}">
</head>
<body class="d- flex text-center text-white bg-dark mg-3" cz-shortcut-listen="true">
    <main class="site-body">
    <form class="review-form max-content-width" method="post" autocomplete="off" enctype="multipart/form-data">
        {% csrf_token %}
        <div class="rating point">
            <span class="cp-chip green mb-4">책</span>
        <div class="cp-stars">
            {% for radio in form.point %}
            {{radio}}
            {% endfor %}
        </div>
        {% for error in form.point.errors %}
            <div class="error-message">{{ error }}</div>
            {% endfor %}
        </div>
        <div class="content">
        {{ form.comment|add_class:"cp-input"|add_error_class:"error"|attr:"placeholder:리뷰를 작성해 주세요." }}
        {% for error in form.comment.errors %}
            <div class="error-message">{{ error }}</div>
        {% endfor %}
        </div>

        <div class="buttons">
        <a class="cp-button secondary cancel" href="{% url 'index' %}">취소</a>
        <button class="cp-button submit" type="submit">완료</button>
        </div>
    </form>
    </main>
</body>
{% endblock content %}